In [1]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier

In [2]:
from imblearn.combine import SMOTEENN

In [3]:
df=pd.read_csv('base_churn.csv')

In [4]:
df.head()

,Unnamed: 0,Monthly_Bill,Total_Usage_GB,Churn,Gender_Female,Gender_Male,Location_Chicago,Location_Houston,Location_Los Angeles,Location_Miami,...,Subscription_group_10-12,Subscription_group_13-15,Subscription_group_16-18,Subscription_group_19-21,Age_group_17-26,Age_group_27-36,Age_group_37-46,Age_group_47-56,Age_group_57-66,Age_group_67-76
0,0,73.36,236,0,0,1,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
1,1,48.76,172,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,85.47,460,0,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,3,97.94,297,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,4,58.14,266,0,1,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,0

In [5]:
df=df.drop('Unnamed: 0', axis=1)

In [6]:
df.head()

,Monthly_Bill,Total_Usage_GB,Churn,Gender_Female,Gender_Male,Location_Chicago,Location_Houston,Location_Los Angeles,Location_Miami,Location_New York,...,Subscription_group_10-12,Subscription_group_13-15,Subscription_group_16-18,Subscription_group_19-21,Age_group_17-26,Age_group_27-36,Age_group_37-46,Age_group_47-56,Age_group_57-66,Age_group_67-76
0,73.36,236,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
1,48.76,172,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,85.47,460,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,97.94,297,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,58.14,266,0,1,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0

In [7]:
#Creating X And Y Variable 
#X Is Indepenent variable Y is Dependent Variable 
x=df.drop('Churn',axis=1)
x

,Monthly_Bill,Total_Usage_GB,Gender_Female,Gender_Male,Location_Chicago,Location_Houston,Location_Los Angeles,Location_Miami,Location_New York,Subscription_group_1-3,...,Subscription_group_10-12,Subscription_group_13-15,Subscription_group_16-18,Subscription_group_19-21,Age_group_17-26,Age_group_27-36,Age_group_37-46,Age_group_47-56,Age_group_57-66,Age_group_67-76
0,73.36,236,0,1,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,48.76,172,1,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,85.47,460,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,97.94,297,1,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0
4,58.14,266,1,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,55.13,226,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
99996,61.65,351,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
99997,96.11,251,0,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
99998,49.25,434,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
99999,76.57,173,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0

In [8]:
y=df['Churn']
y

0        0
1        0
2        0
3        1
4        0
        ..
99995    1
99996    0
99997    1
99998    1
99999    1
Name: Churn, Length: 100000, dtype: int64

In [9]:
#Train Test Split
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2)

### Decision Tree Classifier

In [46]:
model_dt=DecisionTreeClassifier(criterion='gini',random_state=100,max_depth=6,min_samples_leaf=8)

In [47]:
model_dt.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [48]:
y_pred=model_dt.predict(x_test)

In [49]:
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [50]:
print(classification_report(y_test,y_pred,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.50      0.87      0.64     10025
           1       0.51      0.14      0.22      9975

    accuracy                           0.50     20000
   macro avg       0.51      0.50      0.43     20000
weighted avg       0.51      0.50      0.43     20000

In [51]:
print(confusion_matrix(y_test,y_pred))

[[8686 1339]
 [8591 1384]]

In [52]:
sm=SMOTEENN()

In [53]:
x_reshaped, y_reshaped=sm.fit_resample(x,y)

In [54]:
#Train Test Split
xr_train, xr_test, yr_train, yr_test=train_test_split(x_reshaped,y_reshaped,test_size=0.2)

In [55]:
model_dt_smote=DecisionTreeClassifier(criterion='gini',random_state=100,max_depth=6,min_samples_leaf=8)

In [56]:
model_dt_smote.fit(xr_train,yr_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [57]:
y_pred_smote=model_dt_smote.predict(xr_test)

In [58]:
print(classification_report(yr_test,y_pred_smote,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.57      0.16      0.26      1306
           1       0.51      0.88      0.65      1313

    accuracy                           0.52      2619
   macro avg       0.54      0.52      0.45      2619
weighted avg       0.54      0.52      0.45      2619

In [59]:
cm = confusion_matrix(yr_test, y_pred_smote)

In [60]:
cm

array([[ 215, 1091],
       [ 162, 1151]], dtype=int64)

### Decision Tree

In [61]:
from sklearn.ensemble import RandomForestClassifier

In [62]:
model_rf=RandomForestClassifier(n_estimators=100,criterion='gini',random_state=100,max_depth=6,min_samples_leaf=8)
model_rf.fit(x_train,y_train)
y_pred_rf=model_rf.predict(x_test)

In [63]:
print(classification_report(y_test,y_pred_rf,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.51      0.64      0.57     10025
           1       0.51      0.37      0.43      9975

    accuracy                           0.51     20000
   macro avg       0.51      0.51      0.50     20000
weighted avg       0.51      0.51      0.50     20000

In [64]:
model_rf_smote=RandomForestClassifier(n_estimators=100,criterion='gini',random_state=100,max_depth=6,min_samples_leaf=8)
model_rf_smote.fit(xr_train,yr_train)
y_pred_smote_rf=model_rf.predict(xr_test)

In [66]:
print(classification_report(yr_test,y_pred_smote_rf,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.54      0.70      0.61      1306
           1       0.58      0.42      0.49      1313

    accuracy                           0.56      2619
   macro avg       0.56      0.56      0.55      2619
weighted avg       0.56      0.56      0.55      2619

In [78]:
import pickle

In [79]:
filename='model.sav'

In [80]:
pickle.dump(model_dt,open(filename,'wb'))

In [91]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [92]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 0)
classifier.fit(x_train, y_train)

SVC(random_state=0)

In [98]:
y_pred_svc= classifier.predict(x_test)

In [99]:
print(classification_report(y_test,y_pred_svc,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.50      0.53      0.51     10025
           1       0.50      0.47      0.48      9975

    accuracy                           0.50     20000
   macro avg       0.50      0.50      0.50     20000
weighted avg       0.50      0.50      0.50     20000

In [100]:
from sklearn.naive_bayes import GaussianNB

# Build a Gaussian Classifier
model = GaussianNB()

# Model training
model.fit(x_train, y_train)

GaussianNB()

In [105]:
y_pred_nb= model.predict(x_test)

In [106]:
print(classification_report(y_test,y_pred_nb,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.50      0.50      0.50     10025
           1       0.50      0.50      0.50      9975

    accuracy                           0.50     20000
   macro avg       0.50      0.50      0.50     20000
weighted avg       0.50      0.50      0.50     20000

In [107]:
from sklearn.linear_model import LinearRegression

In [109]:
reg = LinearRegression()

In [110]:
reg.fit(x_train, y_train)

LinearRegression()

In [111]:
y_pred_lr= model.predict(x_test)

In [112]:
print(classification_report(y_test,y_pred_lr,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.50      0.50      0.50     10025
           1       0.50      0.50      0.50      9975

    accuracy                           0.50     20000
   macro avg       0.50      0.50      0.50     20000
weighted avg       0.50      0.50      0.50     20000

In [118]:
#Applying PCA
from sklearn.decomposition import PCA
pca=PCA(0.9)
xr_train1=pca.fit_transform(x_train,y_train)

In [119]:
xr_test1=pca.transform(x_test)

In [120]:
model_pca=RandomForestClassifier(n_estimators=100,criterion='gini',random_state=100,max_depth=6,min_samples_leaf=8)

In [121]:
model_pca.fit(x_train,y_train)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [122]:
y_pred_pca=model_pca.predict(x_test)

In [123]:
print(classification_report(y_test,y_pred_pca,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.51      0.64      0.57     10025
           1       0.51      0.37      0.43      9975

    accuracy                           0.51     20000
   macro avg       0.51      0.51      0.50     20000
weighted avg       0.51      0.51      0.50     20000